<ion-content>
  <div class="container">
    <div class="rectangulo">
      <ion-item lines="none">
        <ion-avatar slot="start">
          <img alt="Avatar" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
        </ion-avatar>
        <ion-label>
          <h2>{{ usuario?.nom_usuario | titlecase }}</h2>
          <h3>Usuario desde 2024</h3>
        </ion-label>
      </ion-item>

      <br>

      <ion-label>
        <h1>Sobre mí</h1>
      </ion-label>
      <ion-list>
        <ion-item>
          <ion-icon name="card-outline" slot="start"></ion-icon>
          <ion-label>RUT: {{ usuario?.rut }}</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="calendar-outline" slot="start"></ion-icon>
          <ion-label>Fecha de Nacimiento: {{ usuario?.fec_nacimiento }}</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="male-female-outline" slot="start"></ion-icon>
          <ion-label>Género: {{ usuario?.genero | titlecase }}</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="mail-outline" slot="start"></ion-icon>
          <ion-label>Correo: {{ usuario?.correo }}</ion-label>
        </ion-item>
        <ion-item *ngIf="usuario?.tip_user === 'Conductor'">
          <ion-icon name="id-card-outline" slot="start"></ion-icon>
          <ion-label>Patente: {{ usuario?.patente }}</ion-label>
        </ion-item>
        <ion-item *ngIf="usuario?.tip_user === 'Conductor'">
          <ion-icon name="car-sport-outline" slot="start"></ion-icon>
          <ion-label>Modelo vehículo: {{ usuario?.mod_vehi }}</ion-label>
        </ion-item>
      </ion-list>

      <ion-label>
        <h1>Otros</h1>
      </ion-label>
      <ion-list>
        <!--
        <ion-item button (click)="irConfiguracion()">
          <ion-icon name="settings-outline" slot="start"></ion-icon>
          <ion-label>Configuración</ion-label>
        </ion-item>
        -->
        <ion-item button (click)="cerrarSesion()">
          <ion-icon name="log-out-outline" slot="start"></ion-icon>
          <ion-label>Cerrar sesión</ion-label>
        </ion-item>
      </ion-list>
      </div>
    </div>

  <style>
    .rectangulo {
      padding: 20px;
      background-color: white;
      box-sizing: border-box;
      overflow-y: auto;
    }

    .container {
      display: flex;
      flex-direction: column;
      height: 100%;
    }

    h1 {
      font-size: 1.5rem;
      margin: 10px 0;
      margin-left: 15px;
    }

    .card-container {
      display: flex;
      justify-content: space-between;
      margin-top: 20px;
    }

    .icon-grande {
      font-size: 40px;
      color: white;
    }

    ion-card h2 {
      color: white;
      text-align: center;
    }
  </style>
</ion-content>
