.toolbar-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #746d61;
  color: white;
  width: 100%;
  padding: 0 16px;
  height: 120px;
}

.logo {
  height: 80px;
  width: auto;
  object-fit: contain;
  margin-right: 24px;
}

ion-searchbar {
  flex: 1;
  max-width: 600px;
  margin: 0 24px;
  --background: white;
  --border-radius: 20px;
}

.icon-group {
  display: flex;
  gap: 20px;
  align-items: center;
}

ion-icon {
  font-size: 36px;
  cursor: pointer;
  transition: color 0.3s ease;
}

ion-icon:hover {
  color: #e6d1b3;
}


.checkout-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  flex-wrap: wrap; // Responsivo
}

.checkout-box {
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
  padding: 1.5rem;
  flex: 1 1 300px;
}

.checkout-box h2, .checkout-box h3 {
  margin-top: 0;
  font-weight: bold;
}

.card-icons {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;

  ion-icon {
    color: #3b82f6;
    flex-shrink: 0;
  }
}

.form-input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  outline: none;

  &:focus {
    border-color: #3b82f6;
    box-shadow: 0 0 0 2px rgba(59, 130, 246, 0.2);
  }
}

.submit-button {
  background: #3b82f6;
  color: white;
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;

  &:hover {
    background: #2563eb;
  }
}