.taller-card {
    border-radius: 16px;
    padding: 20px;
    margin-bottom: 20px;
    font-size: 1.2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .titulo {
    font-size: 1.6rem;
    text-align: center;
    color: #ffffff;
  }
  
  ion-card-content p {
    font-size: 1.3rem;
    line-height: 1.6;
  }
  
  ion-button {
    font-size: 1.4rem;
    padding: 12px;
  }
  
  .titulo-categoria {
    font-size: 1.8rem;
    font-weight: bold;
    margin-top: 20px;
    text-align: center;
  }