<ion-content class="ion-padding">

  <h2 class="titulo-categoria">Talleres de Actividad Física</h2>
  <ion-card *ngFor="let taller of talleresFisicos" [style.background-color]="taller.color" class="taller-card">
    <ion-card-header>
      <ion-card-title class="titulo">{{ taller.nombre }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Tipo: {{ taller.tipo }}</p> 
      <ion-button expand="block" color="success" (click)="tomarTaller(taller.nombre)">
        👉 Tomar Taller
      </ion-button>
    </ion-card-content>
  </ion-card>

  <h2 class="titulo-categoria">Talleres de Estimulación Cognitiva</h2>
  <ion-card *ngFor="let taller of talleresCognitivos" [style.background-color]="taller.color" class="taller-card">
    <ion-card-header>
      <ion-card-title class="titulo">{{ taller.nombre }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Tipo: {{ taller.tipo }}</p>
      <ion-button expand="block" color="success" (click)="tomarTaller(taller.nombre)">
        👉 Tomar Taller
      </ion-button>
    </ion-card-content>
  </ion-card>
  
</ion-content>