ion-header {
    display: none;
  }

  .label1{

    text-align: center;
    display: block;

}

ion-img{
    width: auto; 
    height: 150px;
    object-fit: cover; 
    border-radius: 50%;
    margin-bottom: 20px;
    display: block; 
    margin-left: auto;
    margin-right: auto; 
}

ion-content::part(background){

    background: #746d61;
    
}