.checkout-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
}

.checkout-box {
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
  padding: 1.5rem;
}

.checkout-box h2, .checkout-box h3 {
  margin-top: 0;
  font-weight: bold;
}

.card-icons {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

ion-img{
    width: auto; 
    height: 150px;
    border-radius: 50%;
    display: block; 
}