<ion-content>
  <div class="container">
    <div class="rectangulo">
      <style>
        .rectangulo {
          width: 100vw; 
          height: 70vh; 
          border-radius: 1% 2% 0 0;
          margin: 0; 
          display: block; 
          flex-direction: column;
          background-color: white;
          padding: 60px; 
          box-sizing: border-box; 
          overflow-y: auto;
          flex-grow: 2;
        }

        .container {
          display: flex; 
          flex-direction: column;
          justify-content: flex-start; 
          align-items: stretch;
          width: 100%; 
          height: 100%;
          text-align: justify; 
        }

        .titulo {
          font-size: 24px; 
          font-weight: bold; 
          margin-bottom: 10px; 
          text-align: center;
        }

        .subtitulo {
          font-size: 16px; 
          margin-bottom: 30px; 
          color: gray; 
          text-align: center;
          color: red;
        }

        .texto {
          font-size: 14px; 
          margin-bottom: 10px; 
        }

      </style>

      <div class="titulo">ADMINISTRACIÓN.</div>
      <div class="subtitulo">Sólo se permite el uso de usuarios con permisos administrativos.</div>
      
      <ion-card-content>
        <form [formGroup]="usuario">
          <br>
          <ion-input formControlName="nom_usuario" type="text" fill="outline" label="Nombre de usuario" labelPlacement="floating" helperText="Ejemplo: nicolas" errorText="Formato invalido"></ion-input>
          <br>
          <ion-input formControlName="contraseña" type="password" fill="outline" label="Contraseña" labelPlacement="floating" errorText="Formato invalido"></ion-input>
          <br>
          <ion-input formControlName="rep_contraseña" type="password" fill="outline" label="Repetir Contraseña" labelPlacement="floating" errorText="Formato invalido"></ion-input>
          <br>
          <ion-input formControlName="correo" type="email" fill="outline" label="Correo" labelPlacement="floating" helperText="Ejemplo: nicolas@duocuc.cl " errorText="Formato invalido"></ion-input>
          <br>
          <ion-input formControlName="rut" type="text" fill="outline" label="Rut" labelPlacement="floating" helperText="Ejemplo: 11111111-1 " errorText="Ingrese un rut valido"></ion-input>
          <br>
          <ion-input formControlName="fec_nacimiento" type="date" fill="outline" label="Fecha de nacimiento" labelPlacement="floating" errorText="Debes ser mayor de edad"></ion-input>
          <br>
          <ion-select formControlName="genero" fill="outline" label="Género" labelPlacement="floating">
            <ion-select-option value="masculino">Masculino</ion-select-option>
            <ion-select-option value="femenino">Femenino</ion-select-option>
            <ion-select-option value="otro">Otro</ion-select-option>
          </ion-select>
          <br>
  
          <ion-select formControlName="tip_user" fill="outline" label="Tipo usuario" labelPlacement="floating">
            <ion-select-option value="administrador">Administrador</ion-select-option>
            <ion-select-option value="pasajero">Usuario</ion-select-option>
          </ion-select>
  
          <br>
          <ion-button (click)="agregarUsuario()" color="dark" expand="block">Agregar Usuario</ion-button>
          <ion-button *ngIf="isEditing" (click)="confirmEdit()" color="light" expand="block">Confirmar Cambios</ion-button>
        </form>
      </ion-card-content>
        <br>
        <br>
        <ion-card *ngFor="let usuario of usuarios">
          <ion-card-header>
            <ion-card-title>{{ usuario.get('nom_usuario')?.value }} ({{ usuario.get('rut')?.value }})</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p><strong>Tipo usuario:</strong> {{ usuario.get('tip_user')?.value }}</p>
            <p><strong>Correo:</strong> {{ usuario.get('correo')?.value }}</p>
            <p><strong>Fecha de Nacimiento:</strong> {{ usuario.get('fec_nacimiento')?.value }}</p>
            <p><strong>Género:</strong> {{ usuario.get('genero')?.value }}</p>
            <ion-button (click)="editUsuario(usuario)" color="light">Editar</ion-button>
            <ion-button (click)="deleteUsuario(usuario.get('rut')?.value)" color="dark">Eliminar</ion-button>
          </ion-card-content>
        </ion-card>
    </div>
  </div>
</ion-content>
