<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom">

      <ion-tab-button tab="inicio-app" (click)="onTabChange($event)">
        <ion-icon name="home-sharp"></ion-icon>
        <label for="inicio-app">Inicio</label>
      </ion-tab-button>

      <ion-tab-button tab="mantenedor" *ngIf="usuario.tip_user=='Administrador'" (click)="onTabChange($event)">
        <ion-icon name="construct-sharp"></ion-icon>
        <label for="mantenedor">Administración</label>
      </ion-tab-button>

      <ion-tab-button tab="perfil" (click)="onTabChange($event)">
        <ion-icon name="person-sharp"></ion-icon>
        <label for="perfil">Perfil</label>
      </ion-tab-button>
      <!--
      <ion-tab-button tab="administrador" *ngIf="usuario.tip_user=='Administrador'" (click)="onTabChange($event)">
        <ion-icon name="construct-sharp"></ion-icon>
        <label for="administrador">Administración</label>
      </ion-tab-button>
      -->
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
